:host {
  display: flex;

  > div {
    width: 50%;
    padding: 2em;
  }

  > div:nth-child(2) {
    border-left: 1px solid #333;
  }
}

form {
  .actions {
    display: flex;

    button {
      margin-top: 2em;
      margin-right: 2em;
      width: 200px;
    }
  }
}

img.logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
