<main>
  <aside>
    <div class="liste-serveur">
      <div
        class="serveur"
        routerLink="/ajout-serveur"
        matTooltip="Créer un nouveau serveur"
        matTooltipPosition="right"
      >
        <mat-icon fontIcon="add_circle"></mat-icon>
      </div>

      @for (serveur of listeServeur; track serveur._id) {

      <div
        class="serveur serveur-salon"
        [matTooltip]="serveur.nom"
        matTooltipPosition="right"
      >
        <img [attr.src]="serveur.urlLogo" routerLink="/ajout-salon/{{serveur._id}}"/>
        @if (serveur.salons.length>0) {
          <mat-form-field class="serveur">
 
            <mat-label  class="serveur">
            {{serveur.nom}}
          </mat-label>
            <mat-select>
              @for (salon of serveur.salons; track $index) {
                <mat-option [value]="salon.idSalon" (click)="redirect(serveur._id, salon.idSalon)">{{salon.nomSalon}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        } 
        
      </div>

      }
    </div>

    <div class="info-profil">
      <img
        class="avatar"
        src="https://play-lh.googleusercontent.com/0goocG7RJZDZ41ShfBPl-h7ctwHKHjqzn4nSImyL8_RWyXqeYNKw-CdGAKhgPGZG5Es"
      />
      <span>John DOE</span>
      <mat-icon
        class="bouton-profil"
        fontIcon="settings"
        routerLink="/profil"
      ></mat-icon>
    </div>
  </aside>
  @if (show) {
    <app-message [idSalon]="idSalon" [idServeur]="idServeur"></app-message>
  } @else {
    <p style="margin: auto;">Pour ajouter un salon cliquer sur un serveur </p>
  }
  
</main>
